.tooltip {
    position:relative;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    visibility:hidden;
    padding: 10px;
    border-radius: 10px;
  }
  .tooltip-arrow {
    position:absolute;
    top: 100%;
    left: 50%;
    border-width: 7px;
    border-style: solid;
    /* border-radius: 10px; */
    border-color: rgba(0, 0, 0, 0.7) transparent transparent;
  }
  